
// bower:scss
@import "bourbon/dist/_bourbon.scss";
@import "neat/app/assets/stylesheets/_neat.scss";
// endbower

@import "plugins/base/_base.scss";

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

div.console {
  @include clearfix;
}

div.console > * {
  float: left;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 260px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

button#start {
  background-color: #449D44;
}

input#beats {
  margin-bottom: em(5);
  width: em(40);
  text-align: center;
  font-size: em(50);
  color: #4c4848;
  padding: 0;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

span#btn-left {
  display: inline-block;
  cursor: pointer;
  position: relative;
  &::before {
    font-size: em(30);
    position: absolute;
    top: em(7);
    left: em(-20);
    content: '\276E';
    color: #4c4848;
  }
}

span#btn-right {
  cursor: pointer;
  position: relative;
  &::before {
    font-size: em(30);
    position: absolute;
    top: em(7);
    left: em(74);
    content: '\276F';
    color: #4c4848;
  }
}

div#keypadBtns {
  @include outer-container;
}

.keypadBtn {
  margin-bottom: 2.35765%;
  @include span-columns(4);
  @include omega(3n);
}

button#clearBtn {
  @include span-columns(8);
  @include omega();
}
